<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout/layout}">
  <head>
    <!-- layoutに設定しているタグで一致しているものを入れ替えることができる   -->
    <title>書籍管理 - 一覧</title>
  </head>
  <th:block layout:fragment="layout-content">
    <div class="ui container">
      <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">通知</div>
        <p th:text="${message}">Congratulation! Operation successful！</p>
      </div>
      <div class="ui segment search-content">
        <form class="ui form" action="{{ $books->url(1) }}">
          <h4 class="ui dividing header">検索条件</h4>
          <div class="field">
            <label>名前</label>
            <div class="two fields">
              <div class="field">
                <input type="text" name="name" placeholder="名前" >
              </div>
            </div>
          </div>
          <div class="field">
            <label>削除済を含む</label>
            <div class="two fields">
              <div class="field">
                <input type="checkbox" name="deleted_at">
              </div>
            </div>
          </div>
          <button class="ui button blue search-btn" tabindex="0">検索</button>
        </form>
      </div>
      <div class="list-content">
        <div class="ui segment">
          <div class="container ui right aligned">
            <button class="ui button green new-entry" tabindex="0">新規作成</button>
          </div>
          <table class="ui striped table">
            <thead>
            <tr>
              <th>名前</th>
              <th>サムネイル</th>
              <th>保管場所</th>
              <th>使用者</th>
              <th>説明</th>
              <th class="action">アクション</th>
            </tr>
            </thead>
            <tbody>
            <!-- 一覧(iterator) ModelAndView(Model)でaddObjectしたキー名で取り出す 下記の場合: books -->
            <tr th:each="book : ${books}">
              <td th:text="${book.name}">name</td>
              <td th:text="${book.name}">name</td>
              <td th:text="${book.name}">name</td>
              <td>
                <img th:if="!${#strings.isEmpty(book.thumbnail)}" th:src="@{/public/thumbnails/} + ${book.thumbnail}" alt="サムネイル">
                <img th:if="${#strings.isEmpty(book.thumbnail)}" th:src="@{/image/no-image.png}" alt="サムネイル">
              </td>
              <td th:text="${book.description}">description</td>
              <td>
                <button class="ui button orange edit-entry" th:data-id="${book.id}" tabindex="0">
                  編集
                </button>
                <button class="ui button delete-entry" th:data-id="${book.id}" th:data-url="@{/admin/book/} +  ${book.id} + '/delete'" tabindex="0">
                  削除
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="container ui center aligned">
            <div th:if="${page.totalPages} > 1" class="ui pagination menu">
              <!--     paging         -->
              <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                <!--  hrefにリクエストパラメータを付与 -->
                <a th:class="${i}==${page.number} ? 'disabled item' : 'active item'" th:href="@{/admin/book(page=(${i}))}" th:style="${i}==${page.number} ? 'pointer-events: none;' : ''" th:text="${i + 1}">
                </a>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal include -->
    <th:block th:replace="admin/components/common/delete_modal :: common_delete_modal">
    </th:block>
  </th:block>
</html>