<!DOCTYPE html>
<html
        xmlns:th      = "http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="ja">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Backstage Management</title>
  <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<body>
<div class="ui fixed inverted teal menu admin-menu">
  <div class="ui container">
    <a th:href="@{/admin/book}" class="header item title">
      <span class="menu-main-title">BackStage Admin</span>
    </a>
    <div class="ui secondary menu">
      <a class="item" th:href="@{/admin/book}">書籍管理</a>
      <a class="item"  th:href="@{/admin/place}">保管場所管理</a>
      <a class="item" th:href="@{/admin/employee}">使用者管理</a>
    </div>
    <div class="right menu">
<!--      <a class="ui item">-->
<!--      Logout-->
<!--      </a>-->
    </div>
  </div>
</div>
<!--Content-->
<div class="m-padded-tb-large m-container-small main-content">
  <th:block layout:fragment="layout-content">
    <p>Default layout content</p>
  </th:block>
  <!-- ajax success modal -->
  <th:block th:replace="admin/components/common/ajax_success_modal :: ajax_success_modal">
  </th:block>
  <!-- ajax error modal -->
  <th:block th:replace="admin/components/common/ajax_err_modal :: ajax-err-modal">
  </th:block>
</div>
<th:block th:fragment="script">
  <script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
  <script th:src="@{/webjars/Semantic-UI/2.4.1/semantic.js}"></script>
  <script th:src="@{/js/admin.js}"></script>
</th:block>
</body>
</html>