<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout/layout}">
<head>
  <!-- layoutに設定しているタグで一致しているものを入れ替えることができる   -->
  <title>保管者管理 - 保管者一覧</title>
</head>
<th:block layout:fragment="layout-content">
  <div class="ui container">
    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
      <i class="close icon"></i>
      <div class="header">通知</div>
      <p th:text="${message}">Congratulation! Operation successful！</p>
    </div>
    <div class="ui segment search-content">
      <form class="ui form" th:action="@{/admin/employee/}" th:object="${employeeSearchForm}" method="GET">
        <h4 class="ui dividing header">検索条件</h4>
        <div class="field">
          <label>名前</label>
          <div class="two fields">
            <div class="field">
              <input type="text" th:field="*{name}" placeholder="名前" >
            </div>
          </div>
        </div>
        <div class="field">
          <label>削除済を含む</label>
          <div class="two fields">
            <div class="field">
              <input type="checkbox" th:field="*{includeDeleted}">
            </div>
          </div>
        </div>
        <button class="ui button blue search-btn" tabindex="0">検索</button>
      </form>
    </div>
    <div class="list-content">
      <div class="ui segment">
        <div class="container ui right aligned">
          <button class="ui button green new-entry" tabindex="0">新規作成</button>
        </div>
        <table class="ui striped table">
          <thead>
          <tr>
            <th class="name">名前</th>
            <th>メールアドレス</th>
            <th class="action">アクション</th>
          </tr>
          </thead>
          <tbody>
          <!-- 一覧(iterator) ModelAndView(Model)でaddObjectしたキー名で取り出す 下記の場合: books -->
          <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}">name</td>
            <td th:text="${employee.email}">email</td>
            <td>
              <button class="ui button orange edit-entry" th:data-id="${employee.id}" tabindex="0">
                編集
              </button>
              <button class="ui button delete-entry" th:data-id="${employee.id}" th:data-url="@{/admin/employee/} +  ${employee.id} + '/delete'" tabindex="0">
                削除
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="container ui center aligned">
          <div class="ui pagination menu">
            <!-- employeeSearchForm  -->
            <th:block th:object="${employeeSearchForm}">
              <!--     paging         -->
              <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                <!--  hrefにリクエストパラメータを付与 -->
                <a th:class="${i}==${page.number} ? 'disabled item' : 'active item'" th:href="@{/admin/book(page=(${i}), name=(*{name}), includeDeleted=(*{includeDeleted}))}" th:style="${i}==${page.number} ? 'pointer-events: none;' : ''" th:text="${i + 1}">
                </a>
              </th:block>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal include -->
  <th:block th:replace="admin/components/common/delete_modal :: common_delete_modal">
  </th:block>
</th:block>
</html>