@charset "UTF-8";

.main-content {
    padding-top: 55px;
}

table.ui.table thead th.name {
    min-width: 100px;
    width: 200px;
}

table.ui.table thead th.action {
    width: 200px;
}

table.ui.table tbody td img {
    width: 120px;
}

.ui.modal > .content {
    padding: 25px !important;
}

input[type=file][name=thumbnail_file] {
    display: none;
}

.thumbnail-area {
    width: 130px;
    text-align: center;
}

input[type=file][name=emp_csv_file] {
    display: none;
}